@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.coconutt-chat-menu{
display:flex;
display-direction:row;
background-color: rgba(82,179,217,0.9);
}

.coconutt-chat-menu img{
width:36px;
margin-right:10px;
border-radius:7px;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
margin-left: 15px;
background-color: rgba(255,255,255,0.98);
}

.coconutt-chat-back{
background-color: rgba(255,255,255,0.2);
}
.coconutt-chat-name{
    position: absolute;
    left: 40%;
    
    font-family: 'Lato';
    font-size: 25px;
    font-weight: 300;
    color: rgba(255,255,255,0.98);
    cursor: default;
}

.coconutt-chat-last{
    font-family: 'Lato';
    font-size: 11px;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
    cursor: default;
}
.coconutt-chat-chat{
height:400px;
overflow-y:auto;
padding-left:15px;
padding-right:15px;

}

.coconutt-chat-chat ol li{
list-style:none;
display:flex;
overflow-wrap: break-word;
flex-direction:column;
margin-bottom:25px;
margin-top:25px;

}

.coconutt-chat-msg{
min-width:100px;
max-width:250px;
background: white;

}

.coconutt-chat-msg p {
    font-size: 1 rem;
    margin: 0 0 0.25rem 0;
    color: #777;
}

.coconutt-chat-user{
box-shadow: 6px 7px 3px #D8d4D4;
margin:5px;
position:relative;
right:-5px;
float:right;


}

.coconutt-chat-agent{
box-shadow: -6px 7px 3px #D8d4D4;
position:relative;
left:-35px;
float:left;
}

.coconutt-chat-textarea{
background: #EEECE1;
}

.coconutt-chat-textarea textarea{

width:80%;
float:left;
resize:none;
height:55px;
background: rgba(181, 181, 191, 0.57);
border: none;
outline: none;
padding: 1px;
color: #666;
font-weight: 400;
border-radius:10px
}

.coconutt-chat-textarea img{
width:15%;
border:1px solid #23819E;
border-radius:100px;
cursor: pointer;
float:rigth;
}

.coconutt-chat-msg time {
    font-size: 0.7rem;
    color: #ccc;
    margin-top: 5px;
    float: left;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.coconutt-chat-msg time:before{
    content:"\f017";
    color: #ddd;
    font-family: FontAwesome;
    display: inline-block;
    margin-right: 4px;
}
.coconutt-chat-chat::-webkit-scrollbar {
    min-width: 6px;
    width: 12px;
    max-width: 12px;
    min-height: 12px;
    height: 12px;
    max-height: 12px;
    background: #e5e5e5;

}

.coconutt-chat-chat::-webkit-scrollbar-thumb {
    background: #bbb;
    border: none;
    border-radius: 100px;
    border: solid 3px #e5e5e5;
    box-shadow: inset 0px 0px 3px #999;
}

.coconutt-chat-chat::-webkit-scrollbar-thumb:hover {
  background: #b0b0b0;
  box-shadow: inset 0px 0px 3px #888;
}

.coconutt-chat-chat::-webkit-scrollbar-thumb:active {
background: #aaa;
  box-shadow: inset 0px 0px 3px #7f7f7f;
}

.coconutt-chat-chat::-webkit-scrollbar-button {
    display: block;
    height: 261px;}